@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: 
    linear-gradient(to right,
    #589A8D,#8FC1B5);
}

main{
    background-color: white;
    margin: auto;
     padding: 20px;
     width: 600px;
     border-radius: 20px;
     box-shadow: 5px 5px 15px #265c4b5d;
}




p{
    text-align: justify;

}
h1{
    color: #265C4B;
    text-align: center;
    box-shadow: 1px 1px 2px #265c4b79;
}
h2{
    color: #146551;
}
p{
   color: #007566;
}