@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-color: aqua;
}

h1{
    color: aliceblue;
    text-shadow: 3px 3px 0 #101c75;
    padding: 10px;
}