@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
    transition: 250ms;
    
}

header{
    background-color: gray;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex: 0 0 200px;
    flex-flow: row wrap;
}

header h1{
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.445);
    text-align: center;
}


nav{
    
    display: flex;
    /*border: 1px dotted black;*/
    flex-flow: row wrap;
    transition: 400ms;


}

nav a{
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  transition: 300ms;
  text-align: center;
  margin: 5px;  
    
}
nav a:hover{
    background-color: white;
    color: black;
}




main{
    background-color: white;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.534);
   display: flex;
   flex-flow: column wrap;
   
}

main h2{
    margin-bottom: 10px;
}
